In [ ]:
import anndata
import pandas as pd
from pathlib import Path

    Laughney肺癌和Lee结直肠癌用于训练。泰洛什头颈癌是用来检测的。在这里，我们使用带注释的数据矩阵(有关详细信息，请参阅AnnData)。

    adata.X	矩阵	numpy矩阵
    adata.obs	观测量	pandas Dataframe
    adata.var	特征量	pandas Dataframe
    adata.uns	非结构化数据	字典dict

In [2]:
paths = [
    Path("data/laughney20_lung/"),
    Path("data/lee20_crc/"),
    Path("data/tirosh17_headneck/")
]
names = [
    "laughney",
    "lee",
    "tirosh"
]
adatas = {}
for path, name in zip(paths, names):
    adatas[name] = anndata.read_h5ad(path / "adata.h5ad")
    # Uncomment to perform preprocessing. Here, the loaded anndata objects are already preprocessed. 
    # adatas[name] = data.preprocess_adata(adatas[name])

### 数据分析

In [14]:
adatas['laughney'].X[0].toarray()[0].shape

(19222,)

In [15]:
adatas['lee'].X[0].toarray()[0].shape

(33694,)

In [16]:
adatas['tirosh'].X[0].toarray()[0].shape

(23687,)

In [17]:
import numpy as np

def array_to_square_matrix(arr):
    n = int(np.ceil(np.sqrt(len(arr))))
    arr = np.pad(arr, (0, n**2-len(arr)), mode='constant').reshape((n, n))
    return arr

In [18]:
array_to_square_matrix(adatas['laughney'].X[0].toarray()[0]).shape

(139, 139)

In [19]:
data = adatas['laughney'].obs.astype('str')
data

,raw,major,major_hallmark_corrected,tier_0,tier_1,tier_2,tier_3,tier_0_hallmark_corrected
0,Tm,Tumor,Immune,Tumor,Immune,Lymphoid,T,Normal
1,MACROPHAGE,Tumor,Immune,Tumor,Immune,Myeloid,Macrophage,Normal
2,DENDRITIC,Tumor,Immune,Tumor,Immune,Myeloid,Dendritic,Normal
3,Tm,Tumor,Immune,Tumor,Immune,Lymphoid,T,Normal
4,Tm,Tumor,Immune,Tumor,Immune,Lymphoid,T,Normal
...,...,...,...,...,...,...,...,...
40500,Tm,Tumor,Immune,Tumor,Immune,Lymphoid,T,Normal
40501,Tm,Tumor,Immune,Tumor,Immune,Lymphoid,T,Normal
40502,Tm,Tumor,Immune,Tumor,Immune,Lymphoid,T,Normal
40503,Tm,Tumor,Immune,Tumor,Immune,Lymphoid,T,Normal
40504,MACROPHAGE,Tumor,Immune,Tumor,Immune,Myeloid,Macrophage,Normal

In [20]:
#lets do Lable enconding coding to make more features 

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le_count = 0
# Iterate through the columns
for col in data:
    if data[col].dtype == 'object':
        # Train on the training data
        le.fit(data[col])
        # Transform both training and testing data
        data[col] = le.transform(data[col])
        
        
        # Keep track of how many columns were label encoded
        le_count += 1
rawdata = data           
print('%d columns were label encoded.' % le_count)

8 columns were label encoded.

In [21]:
rawdata

,raw,major,major_hallmark_corrected,tier_0,tier_1,tier_2,tier_3,tier_0_hallmark_corrected
0,18,6,3,1,3,0,6,0
1,7,6,3,1,3,1,2,0
2,1,6,3,1,3,1,1,0
3,18,6,3,1,3,0,6,0
4,18,6,3,1,3,0,6,0
...,...,...,...,...,...,...,...,...
40500,18,6,3,1,3,0,6,0
40501,18,6,3,1,3,0,6,0
40502,18,6,3,1,3,0,6,0
40503,18,6,3,1,3,0,6,0
40504,7,6,3,1,3,1,2,0